:root {
     --background-color: #ffffff;
     --paragraph: #2b2b2b;
     --title: #2b2b2b;
     --sec-text-color: #8a8a8a;
     --badge: #8a8a8a;
}

.light {
     --background-color: #ffffff;
     --paragraph: #2b2b2b;
     --title: #2b2b2b;
     --sec-text-color: #8a8a8a;
     --badge: #8a8a8a;
}

.dark {
     --background-color: #18181b;
     --paragraph: #ffffff;
     --title: #ffffff;
     --sec-text-color: #ebebeb;
     --badge: #ebebeb;
}

.blue {
     --background-color: #1b2028;
     --paragraph: #b8b9a5;
     --title: #23a9d5;
     --sec-text-color: #b8b9a5;
     --badge: #23a9d5;
}

.cheesecake {
     --background-color: #fdf0d5;
     --paragraph: #202020;
     --title: #8e2949;
     --sec-text-color: #202020;
     --badge: #8e2949;
}

* {
     margin: 0;
     padding: 0;
}
html {
     height: 100%;
}
body {
     font-family: 'Space Mono', monospace;
     display: flex;
     flex-direction: column;
     align-items: center;
     background: var(--background-color);
     min-height: 100%;
}

body p {
     color: var(--paragraph);
}
body h1 {
     color: var(--title);
}

body a {
     color: var(--title);
}

.container {
     width: 100%;
     max-width: 850px;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-top: 6%;
     gap: 5px;
}
.sidebar {
     margin-top: 17px;
     position: fixed;
}
.toggle {
     display: none;
}
.menu {
     position: relative;
     padding-right: 25px;
     height: 500px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 100px;
     list-style: none;
     border-right: 1px solid var(--title);
}

.menu label {
     transform: rotate(-90deg);
     cursor: pointer;
     color: var(--sec-text-color);
}

.chevron {
     position: absolute;
     right: 32px;
     top: 42px; /* 42 166 284 426 */
     transition: 0.3s ease-in-out;
}
.chevron::before {
     background: var(--background-color);
     position: absolute;
     border: 1px solid var(--title);
     border-style: solid;
     border-width: 1px 1px 0 0;
     content: '';
     height: 1.45em;
     left: 1.15em;
     top: 1.15em;
     transform: rotate(-45deg);
     vertical-align: top;
     width: 1.45em;
     left: 1.25em;
     transform: rotate(-135deg);
}

input[type='radio'],
input[type='checkbox'] {
     display: none;
}

input[name='menu']:checked + label {
     font-weight: bolder !important;
     color: var(--title) !important;
}
input[name='menu']:checked + .section {
     display: none;
}

#about:checked ~ .chevron {
     top: 42px;
}

#projects:checked ~ .chevron {
     top: 166px;
}

#reach:checked ~ .chevron {
     top: 284px;
}

#themes:checked ~ .chevron {
     top: 426px;
}

.isi {
     width: 80%;
     margin-left: 20%;
}

.isi p {
     margin-bottom: 25px;
     line-height: 26px;
}

.isi h1 {
     font-size: 40px;
     margin-bottom: 37px;
}
.isi h2 {
     color: var(--title);
     margin-bottom: 5px;
}
.section {
     height: 0;
     overflow: hidden;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
     transition-delay: 0.1s;
}

.show {
     opacity: 1;
     height: auto;
}

/* PROJECTS */
.wrapper {
     width: 100%;
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
     margin-bottom: 90px;
}
.card {
     width: 330px;
     margin-bottom: 30px;
}
.card img {
     width: 330px;
     filter: grayscale(100%); /* Menambahkan efek grayscale */
     transition: all 0.1s ease-in-out;
     cursor: pointer;
}

.card img:hover {
     filter: grayscale(0%);
}

.card p {
     font-size: 13px;
     margin: 0;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2; /* number of lines to show */
     line-clamp: 2;
     -webkit-box-orient: vertical;
}

.tags {
     margin-top: 15px;
}

.card .badge {
     display: inline-block;
     padding: 5px 10px 5px 10px;
     color: var(--background-color);
     background: var(--title);
     font-size: 13px;
     font-weight: bolder !important;
}

/* REACH */
.socials {
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.socials i {
     color: var(--paragraph);
     font-size: 30px;
}

.socials .social {
     display: flex;
     align-items: center;
     gap: 20px;
}

/* THEME */
.choose {
     width: 100%;
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
}
.choose .theme {
     display: inline-block;
     padding: 5px 30px 5px 30px;
     color: var(--title);
     background: var(--background-color);
     font-size: 20px;
     font-weight: bolder !important;
     cursor: pointer;
}

input[name='theme']:checked + .theme {
     border: 2px solid var(--title);
}

/* MOBILE */

@media only screen and (max-width: 600px) {
     .isi {
          margin: 0 20px 0 20px;
          width: 90%;
     }
     .sidebar {
          /* display: none; */
          margin: 0;
          z-index: 100;
          position: fixed;
          top: 0;
          width: 100%;
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--background-color);
          text-align: center;
          left: -100%;
          transition: left 0.5s ease-in-out;
     }

     input[name='toggle']:checked ~ .sidebar {
          left: 0;
     }

     .container .toggle {
          display: block;
          cursor: pointer;
          color: var(--title);
          font-size: 30px;
          position: absolute;
          top: 27px;
          right: 30px;
     }
     .toggle {
          display: block;
     }
     .menu {
          border-right: 0;
          padding-right: 0;
     }
     .menu label {
          transform: rotate(0deg);
     }

     .chevron {
          display: none;
     }

     .card {
          width: 100%;
     }

     .card img {
          width: 100%;
     }
}

/* ADDITIONAL */
.active {
     font-weight: bolder !important;
     color: var(--title) !important;
}

footer {
     font-size: 13px;
     opacity: 0.7;
     margin-top: auto;
     color: var(--sec-text-color);
     padding: 30px 0 30px 0;
}
